@model IEnumerable<TrabajoF.Entities.Autor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechadeNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libroid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechadeNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libroid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Autorid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Autorid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Autorid })
        </td>
    </tr>
}

</table>
