@model TrabajoF.Entities.Libreria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Libreria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalLibreria.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalLibreria.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUCLibreria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUCLibreria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Libreriaid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
